.demo-page {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: @dark-white;
  .leftPanel {
    flex: 3;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid @grey-200;
    display: flex;
    flex-direction: column;
    // justify-content:  space-between;
    align-items: flex-start;
    .input {
      flex: 0 0 auto;
    }
    .visualizationScrollWrapper {
      flex: 1 1 auto;
      min-height: 200px;
    }
    .printer {
      flex: 0 0 auto;
      padding-bottom: 2em;
    }
  }
  .rightPanel {
    flex: 2;
    height: 100%;
  }
  .input {
    // margin: 2em 1em;
  }
  .visualization {
    // margin: 1em;
  }
}
@media all and (max-width: 1000px) {
  .demo-page {
    .leftPanel {
      flex: 1;
    }
    .rightPanel {
      flex: 1;
    }
  }
}
@media all and (max-width: 640px) {
  .demo-page {
    flex-direction: column;
    .leftPanel {
      flex: 1;
      border-right: 0;
      border-bottom: 1px solid @grey-200;
    }
    .rightPanel {
      flex: 1;
    }
  }
}
