.demo-page {

  height: 100vh;
  width: 100vw;


  display: -webkit-flex;
  display: flex;

  .leftPanel {
    -webkit-flex: 3;
            flex: 3;

    height: 100%;
    overflow-y: scroll;
  }

  .rightPanel {
    -webkit-flex: 2;
            flex: 2;

    height: 100%;
  }

  .editor {
    margin: 1em;
  }

  .visualization {
    margin: 1em;
  }

}

@media all and (max-width: 1000px) {

 .demo-page {
   .leftPanel {
     -webkit-flex: 1;
             flex: 1;
   }

   .rightPanel {
     -webkit-flex: 1;
             flex: 1;
   }
 }

}
