.editor {
  display: -webkit-flex;
  display: flex;

  .left {

  }

  .right {

  }

  .mid {
    -webkit-flex: 1;
    flex: 1;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }

}
