.printer {
  padding: 1em 1em;

  color: @grey-900;
  line-height: 1.6;

  display: -webkit-flex;
  display: flex;

  width: 100%;

  // -webkit-flex-wrap: wrap;
  // flex-wrap: wrap;

  -webkit-flex-direction: column;
  flex-direction: column;


  .upper {

  }

  .monoFont;

  .left, .right {
    font-size: 24px;
  }

  .mid {
    -webkit-flex: 1 0.5 200px;
    flex: 1 0.5 200px;
  }

  .right {
    display: inline-block;
  }

}
