.printer {
  // display: none !important;

  padding: 1em 1em;

  color: @grey-900;

  display: flex;
  flex-direction: column;

  width: 100%;

  .errorMsg {
    font-size: 0.5em;

    display: block;
    white-space: pre-wrap;
    color: maroon;
    background: yellow;
    padding: 0 4px;
    // padding: 4px;
    opacity: 1;
    max-height: 100pt;

    user-select: none;
  }

  .shared {
    display: flex;
    .monoFont;

    .left {
      flex: 0 0 auto;
    }
  }

  .upper {
    .shared;
    .right {
      flex: 1 1 auto;
    }
  }

  .placeholder {
    height: 0;
    visibility: hidden;
  }

  .middle {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    .shared;
    align-items: baseline;

    .right {
      .markdown-body;

      pre {
        background-color: rgba(0,0,0,0.04);
        word-wrap: break-word;
      }
    }
  }

  .lower {
    .shared;
    align-items: baseline;

    .right {
      .markdown-body;

      pre {
        background-color: rgba(0,0,0,0.04);
        word-wrap: break-word;
      }
    }
  }

  .monoFont;

  .left, .right {
    font-size: 20px;
  }

  .mid {
    flex: 1 0.5 200px;
  }

  .CodeMirror-empty {
    // color: rgba(0,0,0,0.04);
    opacity: 0.5;
  }
}
